# Ignore ruff and pre-commit config files
ruff.toml
.pre-commit-config.yaml

*.pyc
*.DS_Store
pygeo.egg-info
reg_tests/pygeo_reg
reg_tests/pygeo_reg.orig
doc/_build
*testflo_report.out
input_files
.isort.cfg
*.vscode
tests/reg_tests/test_MPhysGeo*_out
