
import:
  - mdolab/.github:travis-env.yml
  - mdolab/.github:travis-before-install.yml

env:
  global:
    - DOCKER_REPO=public

install:
  - docker exec -it app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR && pip install ."

script:
  # We need to source the mdolab bashrc before running anything
  - docker exec -it app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR/reg_tests && python run_reg_tests.py -nodiff"

after_script:
  - docker rm -f app
